body {
  font-family: Arial;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  text-align: center;
}

.preview {
  width: 300px;
  margin-top: 20px;
  border-radius: 10px;
}

.detect-btn {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: #00c853;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.result {
  margin-top: 30px;
}

.confidence-bar {
  width: 300px;
  height: 20px;
  background: #ccc;
  margin: auto;
  border-radius: 10px;
}

.confidence-fill {
  height: 100%;
  background: #00e676;
  border-radius: 10px;
}